.searchContainer svg {
  position: absolute;
  z-index: 3;
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--additional-color-three);
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchContainer input {
  width: 100%;
  padding: 1rem;
  padding-left: 4rem;
  border-radius: 0.8rem;
  border: none;
  position: relative;
  outline: none;
  border: 0.2rem solid var(--additional-color-three);
}

@media all and (max-width: 1024px) {
  .inputContainer {
    width: 100%;
  }
}
